.navbar {
  @include flex-box(space-between);
  flex-wrap: wrap;
  margin: 10px 50px;

  .logo {
    @include size(var(--width-logo), var(--height-logo));
  }

  &-items {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-link {
    color: var(--color-navbar-link);
    font-size: 1.2rem;
    padding: 0 10px;
    &:hover {
      background-color: rgb(0 0 0 / 30%);
    }
  }
}

.navbar-menu {
  .ant-btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    background: transparent;
    border: 1px;
    font-size: 20px;
  }
}
