// overridden antd styles

.form {
  &-field {
    .ant-input-group-addon {
      color: white !important;
      background-color: var(--color-primary);
      width: 46px;
      font-size: 18px;
      border: 0;
    }
  }
}

.ant-tabs {
  .ant-tabs-nav {
    margin-bottom: 24px;
  }
}

.ant-btn-link:hover,
.ant-btn-link:focus,
.ant-btn-link:active,
a:hover {
  color: white;
}
