.card-description {
  display: flex;
  padding: 20px;
  margin: 10px auto;
  color: var(--color-grey);
  box-shadow: 2px 2px 6px 1px var(--color-box-shadow);
  border-radius: 6px;

  &-img {
    min-width: 200px;
  }

  &-title {
    text-transform: capitalize;
  }

  &-content {
    margin: 0 20px;
  }
}

.vertical-card-description-wrapper {
  @include flex-box($justify: space-around);
  flex-wrap: wrap;
}

.vertical-card-description {
  width: 280px;
  text-align: center;
  margin: 10px;

  &-image {
    height: 260px;
    border-radius: 100%;
  }
}

.card-price {
  width: 220px;
  height: 268px;
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--color-grey);
  box-shadow: 2px 2px 6px 1px var(--color-box-shadow);
  margin: 10px;
  overflow: hidden;
  border-radius: 6px;

  &-title-wrapper {
    @include flex-box();
    background: linear-gradient(45deg, #2b5471, #4aa8b3);
    height: 90px;
  }

  &-title {
    color: white;
  }

  &-value {
    margin: 34px;
  }

  &-button {
    padding: 10px 30px;
    border-radius: 2px;
    background: linear-gradient(45deg, #8bc34a, #4d9e6e);
    font-size: 20px;
    font-weight: bold;
  }
}

.card-teacher {
  @include flex-box($align: flex-start);
  @include size(590px, 270px);
  box-shadow: 2px 2px 6px 1px var(--color-box-shadow);
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 6px;

  &-social-links {
    @include flex-box();
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 28px;
    transform: rotate(13deg);
  }

  &-social-links-wrapper {
    position: absolute;
    width: 342px;
    height: 80px;
    transform: rotate(-13deg) translateY(40px) translateX(5px);
    right: 0;
    bottom: 0;
    background-color: var(--color-light-blue);
  }

  &-icon {
    margin: 0 4px;
  }

  &-name {
    color: var(--color-light-blue);
    border-bottom: 6px solid var(--color-light-blue);
  }

  &-info {
    @include flex-box($direction: column, $align: flex-start);
    padding: 0 10px;
    color: var(--color-light-grey);
  }

  &-image {
    width: 45%;
    height: 100%;
  }
}
