.footer {
  height: 140px;
  background: linear-gradient(150deg, #4d9e6e, #7280d0);
  margin-top: 40px;

  &-content {
    @include flex-box();
    color: white;
    height: 100%;
    font-size: 24px;
    i {
      margin: 0 6px;
    }
  }
}