.form {
  display: flex;
  padding: 40px 20px 10px 0;
  background: rgb(0 0 0 / 60%);
  border-left: 3px solid white;

  &-header {
    @include background-image();
    @include size(260px, 300px);

    &--login,
    &--register {
      background-image: url('../assets/login-logo.png');
    }
  }

  &-field {
    width: 280px;

    .ant-input-group-addon {
      width: 46px;
      font-size: 18px;
      @include cb(white, var(--color-primary));
      @include border0;
    }
  }
}
