.form {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  background: rgb(215 215 215 / 30%);

  &-header {
    @include background-image();
    @include size(260px, 300px);

    &--login {
      background-image: url('../assets/login-logo.png');
    }

    &--register {
      background-image: url('../assets/register-logo.png');
    }
  }

  &-field {
    width: 280px;

    .ant-input-group-addon {
      width: 40px;
      font-size: 18px;
      @include cb(white, var(--color-primary));
      @include border0;
    }
  }
}
