$padding-field: 14px;
$color-field: white;
$border-radius-field: 5px;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  margin: auto;
  background-color: var(--color-background);
  border-radius: 20px;

  &-icon {
    color: $color-field;
  }

  &-field {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
  }

  &-input {
    padding: 18px $padding-field $padding-field $padding-field;
    background-color: var(--color-background);
    border-radius: $border-radius-field;
    border: 1px solid $color-field;
    color: $color-field;
  }

  &-input-icon {
    @extend .form-input;
    padding-left: 50px;
  }

  &-input::placeholder {
    color: $color-field;
  }

  &-label {
    color: $color-field;
    padding: 8px 0;
  }

  &-label-icon {
    @extend .form-label;
    left: 0;
    top: 0;
    position: absolute;
    padding: 16px;
  }

  &-button {
    background-color: var(--color-background);
    padding: 12px 20px;
    color: $color-field;
    border: 1px solid $color-field;
    border-radius: $border-radius-field;
  }
}

.form.rooms-new {
  height: 300px;
}

.form.register {
  height: 400px;
}

.form.login {
  height: 320px;
}
