.header {
  min-height: var(--height-header);

  .video {
    @include absolute();
    @include size(100%, 100%);
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
  }

  &-title {
    font-family: "Fraunces", serif;
    color: white;
    font-size: 3.4em;
    margin: 25px 0;
    max-width: 570px;
  }

  &-content {
    @include flex-box($align: flex-start, $direction: column);
    margin: 0 50px;
    padding: 10px 0;
  }
}
