@mixin cb($color: inherit, $background: transparent) {
  color: $color;
  background: $background;
}

@mixin borderTLR($value: 0px) {
  border-top-left-radius: $value + px;
  border-top-right-radius: $value + px;
}

@mixin background-image($size: cover, $position: center, $attachment: unset) {
  position: relative;
  background-size: $size;
  background-position: $position;
  background-attachment: $attachment;
  background-repeat: no-repeat;
}

@mixin flex-box($justify: center, $align: center, $direction: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin size($width: unset, $height: unset) {
  width: $width;
  height: $height;
  min-width: $width;
  max-width: $width;
}

@mixin absolute($top: 0, $left: 0) {
  position: absolute;
  left: $left;
  top: $top;
}
