.navbar {
  @include flex-box(space-between);
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 10px 0;

  .logo {
    @include size(var(--width-logo), var(--height-logo));
  }

  &-items {
    @include flex-box();
    flex-wrap: wrap;
  }

  &-link {
    @include flex-box();
    letter-spacing: 1px;
    color: var(--color-navbar-link);
    font-weight: bold;
    margin: 18px;
    font-size: 20px;
  }
}
