.price {
  &-cards {
    @include flex-box($justify: space-around);
    flex-wrap: wrap;
  }

  &-card {
    text-align: center;
    height: 240px;

    &-title {
      margin-bottom: 30px;
    }
  }
}
