.description {
  &-title {
    text-align: center;
    color: var(--color-grey);
  }
}

.price {
  background: #ececee;
  padding: 1rem 30px 60px 30px;

  &-cards {
    @include flex-box($justify: space-around);
    flex-wrap: wrap;
  }

  &-card {
    text-align: center;
    height: 240px;

    &-title {
      margin-bottom: 30px;
    }
  }
}

.teachers {
  &-cards {
    @include flex-box($justify: space-around);
    gap: 20px;
    flex-wrap: wrap;
  }
}
