.timetable {
  color: var(--color-grey);
  margin: 10px auto;
  max-width: 1200px;
}

.text {
  overflow: hidden;
  white-space: normal;
}

.fullcalendar-wrapper {
  color: var(--color-grey);

  a, span {
    color: black;
  }

  .fc-button-primary {
    span {
      color: white;
    }
  }

  .fc-daygrid-day-events {
    span {
      @extend .text;
      display: block;
    }
  }

  .fc-event-main {
    a, span {
      color: white;
      @extend .text;
      display: block;
    }
  }
}