:root {
  --color-navbar-link: white;
  --color-grey: #4c4c4c;
  --color-light-grey: #8c8c8c;
  --color-box-shadow: #dcdcdc;
  --color-green: #8dbf53;
  --color-card-teacher: #7280d0;
  --height-header: 100vh;
  --width-logo: 332px;
  --height-logo: 152px;
}
