// base styles
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

input,
textarea,
a,
button {
  outline: 0;
}

a,
button,
span {
  color: white;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.container {
  max-width: 1368px;
  margin: auto;
}

.title {
  color: var(--color-grey);
  text-align: center;
}

// modules
@import "./variables";
@import "./mixins";
@import "./app";
@import "./navbar";
@import "./header";
@import "./footer";
@import "./card";
@import "./description";
@import "./price";
@import "./teachers";
@import "./timetable";
@import "./form";
// pages
@import "./login";
