// base styles
body {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: white;
}

// modules
@import './mixins';
// common components
@import './card';
@import './sections';
@import './form';
// pages
@import './pages/index';
@import './app';
// layout elements
@import './layout/index';
