@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --color-navbar-link: white;
  --color-grey: #4c4c4c;
  --color-light-grey: #8c8c8c;
  --color-box-shadow: #ebebeb;
  --color-green: #8dbf53;
  --color-primary: #4d9e6e;
  --color-secondary: #937298;
  --color-light-blue: #7280d0;
  --color-light-red: #ff837a;
  --height-header: 100vh;
  --width-logo: 332px;
  --height-logo: 152px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 100%;
}

.app {
  height: 100vh;
}

.btn {
  border: 0;
  color: white;

  &-primary {
    background-color: var(--color-primary);
  }

  &-secondary {
    background-color: var(--color-secondary);
  }

  &:hover {
    background-color: #53aaaa;
  }
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: center;

  &.wrap {
    flex-wrap: wrap;
  }
}

.title {
  color: var(--color-light-grey);
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.cutoff-text {
  --lines: 6;
  --line-height: 1.4;

  max-height: calc(var(--line-height) * 1rem * var(--lines));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;

  &:has(+ .expand-btn:checked) {
    max-height: unset;
  }
}

.cutoff-text + .expand-btn {
  color: var(--color-light-grey);
  appearance: none;
  border: 1px solid var(--color-light-grey);
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;

  &::before {
    content: 'Читать';
  }

  &:checked::before {
    content: 'Скрыть';
  }

  &:hover {
    background-color: darken(white, 4%);
  }
}

.cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: '';
  position: absolute;
  height: calc(1rem * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white);
}

.card-description:nth-child(odd) {
  .cutoff-text:has(+ .expand-btn:not(:checked))::before {
    background: linear-gradient(to bottom, transparent, #ececee);
  }
}

// modules
@import './mixins';
// common components
@import './card';
@import './sections';
@import './form';
// pages
@import './pages/index';
// layout elements
@import './layout/index';

.ant-form-item-explain-error {
  color: #e1e1e1;
}

.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  border-color: transparent;
}

.container {
  max-width: 1368px;
  margin: auto;
  container-type: inline-size;
}

@container (max-width: 768px) {
  .header-content {
    margin-left: 10%;
  }
}

@container (max-width: 600px) {
  .card-description,
  .card-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-teacher {
    height: unset;
    margin: auto 20px;
    box-shadow: none;
  }

  .card-teacher-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  .card-teacher-social-links,
  .card-teacher-info {
    padding: 10px 20px 0 20px;
  }
}

@container (max-width: 425px) {
  .header-content {
    margin-left: unset;
  }

  .header-title {
    font-size: 2.2rem;
    text-align: center;
    margin: 30px 10px;
  }

  .header-btn {
    margin: auto;
  }
}
